<footer class="footer-container">
   <svg style="display: none;" xmlns="http://www.w3.org/2000/svg">
    <symbol id="creators-linkedin" viewBox="0 0 24 24">...</symbol>
    <symbol id="creators-github" viewBox="0 0 24 24">...</symbol>
    </svg>
  <p class="info-p">&copy; 2025 | All Rights Reserved |</p>
  <div class="footer-info">
    <p class="info-p">
      Developed with
      <span>
        <svg class="span-heart" width="13" height="13">
          <use href="./img/upFooIcons.svg#creators-heart"></use>
        </svg> </span
      >by <a href="#" class="footer-link" id="footer-link">GoIT Students</a>
    </p>
  </div>
  <div class="team-modal">
    <div class="modal-content-footer">
      <div class="modal-title-footer">
        <p class="info-p">
          TEAM TURTLES
          <svg class="link-svg" width="30" height="30">
            <use href="./img/upFooIcons.svg#creators-developers"></use>
          </svg>
        </p>
        <span class="modal-close-btn">&times;</span>
      </div>

      <div class="team-container">
        <ul class="member-card"></ul>
      </div>
    </div>
  </div>
</footer>
