<footer class="footer-container">
    <p class="info-p">&copy;
        2025 | All Rights Reserved |</p>
    <div class="footer-info">
        <p class="info-p">Developed with 
            <span>
                <svg class="span-heart" width="13" height="13">
                    <use href="./img/upFooIcons.svg#creators-heart"></use>
                </svg>
            </span>by <a href="#" class="footer-link" id="footer-link">GoIT Students</a></p>
    </div>
    <div class="modal">
        <div class="modal-content">
            <div class="modal-title">
                <p class="info-p">... TEAM
                    <svg class="link-svg" width="30" height="30">
                        <use href="./img/upFooIcons.svg#creators-developers"></use>
                    </svg>
                </p>
                <span class="modal-close-btn">&times;</span>
            </div>
            
            <div class="team-container">
                <ul class="member-card"></ul>
            </div>
        </div>
    </div>
</footer>
