<footer class="footer-container">
    <p class="info-p">&copy;
        2025 | All Rights Reserved |</p>
    <div class="footer-info">
        <p class="info-p">Developed with <span>&hearts;
            </span>by <a href="#" class="footer-link" id="footer-link">GoIT Students</a></p>
    </div>
    <div class="modal">
        <div class="modal-content"><span class="modal-close-btn">&times;
            </span>
            <p class="footer-developers info-p"><b>Developed by:<br></b>A.Furkan Toy<br>Aykut Şahinbaş<br>Burak
                Ezer<br>Çağla Karabudak Akın<br>Emre Ayvaz<br>Erdem İzcikılınç<br>İlker Şelimen<br>Mehmet Öndüç<br>Özgür
                Korkmaz<br>Umay Ece Mantar </p>
        </div>
    </div>
</footer>