<script src="../js/header.js" defer></script>
<div class="mobile-menu">
  <div class="box">
    <object data="../img/logo.svg" type=""></object>

    <ul class="nav-bar">
      <li><a href="">home</a></li>
      <li><a href="">catalog</a></li>
      <li><a href="">my library</a></li>
    </ul>
  </div>
</div>
<nav>
  <div class="logo-box">
    <a href="#"><object data="../img/logo.svg" type=""></object></a>
    <a href="#"><h1 class="logo-title">Cinemania</h1></a>
  </div>
  <ul class="nav-bar">
    <li><a href="">home</a></li>
    <li><a href="">catalog</a></li>
    <li><a href="">my library</a></li>
  </ul>
  <button class="menu-button">menu</button>
  <label class="toggle-switch">
    <input type="checkbox" checked />
    <span class="switch-box circle"></span>
  </label>
</nav>

<header>
  <div class="content">
    <h1 class="title">Let’s Make Your Own Cinema</h1>
    <p class="description">
      Is a guide to creating a personalized movie theater experience. You'll
      need a projector, screen, and speakers.
    </p>
    <button class="button">Get Started</button>
  </div>
</header>
