<div class="mobile-menu">
  <div class="box">
    <object data="./img/logo.svg" type=""></object>

    <ul class="nav-bar">
      <li><a href="./index.html">home</a></li>
      <li><a href="./catalog.html">catalog</a></li>
      <li><a href="./library.html">my library</a></li>
    </ul>
  </div>
</div>
<nav>
  <div class="logo-box">
    <a href="./index.html"><object data="./img/logo.svg" type=""></object></a>
    <a href="./index.html"><h1 class="logo-title">Cinemania</h1></a>
  </div>
  <ul class="nav-bar">
    <li><a href="./index.html">home</a></li>
    <li><a href="./catalog.html">catalog</a></li>
    <li><a href="./library.html">my library</a></li>
  </ul>
  <button class="menu-button">menu</button>
  <div class="toggle"></div>
</nav>
<header>
  <div class="content"></div>
</header>
<div class="trailer"></div>
<div class="detail"></div>
