<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Library</title>
    <link rel="stylesheet" href="/src/css/my-movies.css" />
</head>
<body>
<div class="library">
  <img class="hero-image" src="/src/img/bg2.png" alt="Library Hero Image" />
  <div class="hero-text">
    <h1 class="hero-title">Create Your <br> Dream Cinema</h1>
    <p class="hero-desc">
      This is your guide to designing a personalized movie theater experience<br>
      with the right equipment, customized decor, and your favorite films.<br>
      Bring the cinema experience into your own home with cozy seating,<br>
      dim lighting, and classic movie theater snacks.
    </p>
  </div>

  <div class="library-container"></div>

  <section class="filters" id="filters">
    <select id="genre">
      <option value="all">Genre</option>
      <option value="romance">Romance</option>
      <option value="detective">Detective</option>
      <option value="thiriller">Thiriller</option>
      <option value="action">Action</option>
      <option value="documentary">Documentary</option>
      <option value="horror">Horror</option>
    </select>
  </section>

  <section class="movies" id="movies">
    <div class="movie-list">
      <ul class="movie-list-ul" id="movie-list-ul">
        <!-- Movie items will be dynamically inserted here -->
      </ul>
    </div>
  </section>

  <p class="empty-message hidden">
    OOPS...<br>
    We are sorry!<br>
    You don't have any movies at your library.
  </p>
  <button class="search-movie-btn hidden" type="button">
    Search movie
  </button>
</div>
<script src="/src/js/my-movies.js"></script>
<script src="/src/js/filters.js"></script>
</body>
