<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Catalog</title>
    <link rel="stylesheet" href="../css/search-list.css" />
</head>

<body>
    <main class="catalog-container">

        <section class="search-bar">
            <form id="search-form">
                <input type="text" id="search-input" placeholder="Search movie..." />
                <button type="button" id="clear-btn" class="clear">✕</button>

                <select id="year-select">
                    <option value="">Year</option>
                </select>

                <button type="submit" id="search-btn" class="search">🔍</button>

            </form>
        </section>

        <section class="movie-list" id="movie-list">
        </section>

        <section class="pagination" id="pagination">
        </section>
    </main>
    <script src="../js/search-list.js"></script>
</body>

</html>