:root {
  /* Dark Theme (Default) */
  --bg-primary: #111111;
  --text-primary: #ffffff;
  --text-secondary: #f8f8f8;
  --grey: #b7b7b7;
  --black: #111111;
  --second-black: #282828;
  --white: #f8f8f8;
  --white-smoke: #ffffff;
  --orange: #f87719;
  --liner: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  --revers-liner: linear-gradient(
    141.22deg,
    #f84119 9.4%,
    rgba(248, 159, 25, 0.68) 91.91%
  );

  --transition-dur: 250ms;
  --transition-func: cubic-bezier(0.4, 0, 0.2, 1);
}

.light {
  --bg-primary: #ffffff;
  --text-primary: #111111;
  --text-secondary: #282828;
  --grey: #595959;
}

:root[data-theme="light"] {
  /* Light Theme */
  --bg-primary: #ffffff;
  --text-primary: #111111;
  --text-secondary: #282828;
  --grey: #595959;
}

.container {
  width: 100%;
  margin: 0 auto;
}

/* GLOBAL */

*,
:before,
:after {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-primary);
  background-color: var(--bg-primary);
  overflow: overlay;
  transition: background-color var(--transition-func) var(--transition-dur);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Responsive */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
