body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #ffffff;
  background-color: #111111;
}

:root {
  /* Dark Theme (Default) */
  --bg-primary: #111111;
  --text-primary: #ffffff;
  --text-secondary: #f8f8f8;
  --grey: #b7b7b7;
  --orange: #f87719;
}

:root[data-theme="light"] {
  /* Light Theme */
  --bg-primary: #ffffff;
  --text-primary: #111111;
  --text-secondary: #282828;
  --grey: #595959;
}

h1 {
  font-size: 40px;
  font-weight: 700;
}

h2 {
  font-size: 20px;
  font-weight: 600;
}

h3 {
  font-size: 14px;
  font-weight: 500;
}

h4 {
  font-size: 12px;
}

h5 {
  font-size: 10px;
}

.container {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 52px;
    font-weight: 700;
  }

  h2 {
    font-size: 24px;
    font-weight: 600;
  }

  h3 {
    font-size: 16px;
    font-weight: 500;
  }

  h4 {
    font-size: 14px;
  }

  h5 {
    font-size: 12px;
  }
}

@media (min-width: 1280px) {
  h1 {
    font-size: 64px;
    font-weight: 700;
  }

  h2 {
    font-size: 28px;
    font-weight: 600;
  }

  h3 {
    font-size: 20px;
    font-weight: 500;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
  }
}
