* {
  font-family: "Roboto", sans-serif;
}

body {
  width: 320px;
  margin: 0 auto;
  color: #f8f8f8;
}

.nav-bar {
  display: none;
  color: violet;
}

.mobile-menu {
  background-color: #f8f8f8;
  width: 204px;
  height: 438px;
  position: absolute;
  z-index: 1;
  display: none;
}

.mobile-menu ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-transform: uppercase;
  gap: 40px;
}

.mobile-menu .box {
  left: 1000px;
}

.mobile-menu object {
  width: 32px;
  height: 32px;
}

a {
  color: #595959;
  text-decoration: none;
}

header {
  background-color: #111111;
  width: 320px;
  height: 380px;
  position: absolute;
}

nav {
  background-color: #ffffff;
  display: flex;
  position: relative;
  width: 320px;
  height: 48px;
  align-items: center;
}

.title {
  font-weight: 700;
  font-size: 32px;
  width: 199px;
  position: absolute;
  top: 40px;
  left: 20px;
}

.logo-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #070606;
  display: none;
}

.logo-box {
  display: flex;
  align-items: center;
  gap: 12px;
}

.description {
  font-size: 14px;
  font-weight: 400;
  width: 166px;
  position: absolute;
  height: 80px;
  top: 162px;
  left: 20px;
}

.button {
  width: 110px;
  height: 38px;
  color: #111111;
  border-radius: 74px;
  position: absolute;
  font-weight: 500;
  background: linear-gradient(#ffc226, #f84119);
  border: none;
  top: 262px;
  left: 20px;
}

nav {
  display: flex;
  justify-content: space-around;
}

.button:hover {
  color: #f87719;
  background: #ffffff;
  border: #f87719;
}

.menu-button {
  background-color: transparent;
  border: none;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.menu-button:hover {
  color: #f87719;
}

@media screen and (min-width: 720px) {
  header {
    width: 768px;
    height: 432px;
  }

  .nav-bar {
    display: flex;
    color: #595959;
    list-style: none;
    gap: 30px;
    text-transform: uppercase;
    align-items: center;
  }

  .logo-title {
    display: block;
  }

  .nav-bar a:hover {
    color: #f87719;
  }

  nav {
    width: 768px;
  }

  .menu {
    display: none;
  }

  .title {
    width: 332px;
  }

  .menu-button {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .description {
    width: 357px;
  }

  body {
    width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  header {
    width: 1280px;
    height: 720px;
  }

  nav {
    width: 1280px;
  }

  .description {
    top: 310px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  .button {
    top: 410px;
  }

  .title {
    font-weight: 700;
    font-style: Bold;
    font-size: 64px;
    width: 464px;
    top: 100px;
  }
}
