button {
  font-size: 12px;
  color: var(--black);
}

.nav-bar {
  display: none;
  color: var(--black);
}

.mobile-menu {
  background-color: var(--bg-primary);
  width: 204px;
  height: 438px;
  position: absolute;
  padding: 30px;
  z-index: 1;
  display: none;
}

.mobile-menu ul a {
  color: var(--text-primary);
}

.mobile-menu ul a:hover {
  color: var(--orange);
}

.mobile-menu ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 24px;
  text-transform: uppercase;
  gap: 40px;
}

.mobile-menu object {
  width: 32px;
  height: 32px;
}

a {
  color: var(--text-primary);
  text-decoration: none;
}

header {
  background: 
    url("../img/bg.png")
      no-repeat center center / cover;
  width: 100%;
  height: 380px;
  margin: 0 auto;
  position: relative;
}

nav {
  background-color: var(--bg-primary);
  display: flex;
  position: relative;
  width: 100%;
  height: 48px;
  align-items: center;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 32px;
  width: 199px;
  position: absolute;
  color: var(--white-smoke);
  top: 40px;
  left: 20px;
}

.logo-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: var(--text-primary);
  display: none;
}

.logo-box {
  display: flex;
  align-items: center;
  gap: 12px;
}

.description {
  font-size: 14px;
  font-weight: 400;
  width: 166px;
  position: absolute;
  height: 80px;
  color: var(--white-smoke);
  top: 192px;
  left: 20px;
}

.button {
  width: 110px;
  height: 38px;
  color: var(--black);
  border-radius: 74px;
  position: absolute;
  font-weight: 500;
  background: var(--liner);
  border: none;
  top: 310px;
  left: 20px;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.button:hover {
  color: var(--orange);
  background: var(--white-smoke);
  border: var(--orange);
}

.menu-button {
  background-color: transparent;
  color: var(--text-primary);
  border: none;
  font-weight: 500;
  cursor: pointer;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.menu-button:hover {
  color: var(--orange);
}

@media screen and (min-width: 720px) {
  header {
    height: 432px;
  }

  .nav-bar {
    display: flex;
    color: var(--grey);
    list-style: none;
    gap: 30px;
    text-transform: uppercase;
    align-items: center;
  }

  .logo-title {
    display: block;
  }

  .nav-bar a:hover {
    color: var(--orange);
  }

  .button {
    top: 268px;
  }

  .menu {
    display: none;
  }

  .title {
    width: 332px;
    top: 70px;
  }

  .menu-button {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .description {
    width: 357px;
    top: 180px;
  }
}

@media screen and (min-width: 1280px) {
  header {
    height: 720px;
  }

  .description {
    top: 410px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  .button {
    top: 500px;
  }

  .title {
    font-weight: 700;
    font-style: Bold;
    font-size: 64px;
    width: 464px;
    top: 100px;
  }
}

.toggle {
  position: relative;
  height: 24px;
  width: 60px;
  border-radius: 194px;
  background-color: var(--orange);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.toggle::before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  background-color: var(--white-smoke);
  border-radius: 50%;
  top: 3px;
  left: 3px;
  transition: all 0.3s ease-in-out;
}

.toggle.active::before {
  left: calc(100% - 18px - 3px);
}
