.filters {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px auto 36px;
  height: 48px;
  width: 260px;

}

.filters select {
  padding-inline: 15px;
  border: 1px solid var(--text-primary);
  border-radius: 4px;
  width: 260px;
  height: 100%;
  background-color: transparent;
  color: var(--text-primary);
}

.filters select:after {
  padding-right: 10px;
}

.filters select:focus {
  outline: none;
}

.filters select option {
  background: var(--bg-primary);
  color: var(--text-primary);
  width: 100%;
  border: 1px solid var(--text-primary);
}

.load-btn {
  display: block;
  background-color: var(--orange);
  color: var(--text-primary);
  border: none;
  border-radius: 74px;
  padding: 12px 24px;
  font-size: 12px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 40px;
}

.load-btn:hover {
  background-color: var(--bg-primary);
  border: 1px solid var(--orange);
}

.noMovieInfo{
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  padding: 0 25px;
}